<div ng-controller="Dashboard.AnalyticsProfileEditor.Controller">

    <div ng-show="model.value.profile">
        <strong>{{model.value.profile.name}}</strong>
        <span>({{model.value.profile.id}})</span>
        <a href="#" prevent-default="" ng-click="reset();" style="color: #2E8AEA;">Nulstil</a>
        <a href="#" prevent-default="" ng-click="open();" style="color: #2E8AEA;">Vælg...</a>
    </div>
    <div ng-show="!model.value.profile">
        <a href="#" prevent-default="" ng-click="open();" style="color: #2E8AEA;">Vælg...</a>
    </div>

    <pre>{{model.value | json}}</pre>

</div>