<div class="block box analytics" ng-class="{loading: loading}" ng-controller="Analytics.Controller">
	<div class="header">
		<h3>{{block.title}}</h3>
	    <div ng-if="block.actions" class="actions">
	        <a class="{{action.classes}}" href="{{action.url}}" target="{{action.target}}" ng-repeat="action in block.actions">{{action.text}}</a>
	    </div>
		<div class="tabs">
			<a href="#" ng-class="{active: period.alias == tab.alias}" ng-repeat="tab in periods" ng-click="selectTab(tab); $event.preventDefault();">{{tab.text}}</a>
		</div>
	</div>
    <div class="content">
        <div ng-if="!error && !loading && !hasData1 && !hasData2" class="empty">
            <em>Der er ingen tilgængelige data for den valgte periode.</em>
        </div>
        <div ng-if="hasData1 || hasData2">
            <div ng-repeat="block in linecharts">
                <dashboard-block />
            </div>
            <div class="blocks">
                <div ng-repeat="block in blocks">
                    <dashboard-block />
                </div>
                <div ng-if="!hasData2" class="empty">
                    <em>Der er ingen tilgængelige data for den valgte periode.</em>
                </div>
            </div>
        </div>
        <div ng-if="error" style="padding: 50px; text-align: center;">
            <div style="font-size: 30px; font-weight: bold;">{{error.title}}</div>
            <div style="font-size: 16px; margin: 20px; color: #8A8A8A;">{{error.message}}</div>
        </div>
    </div>
	<dashboard-loader />
</div>