<div class="dashboard" ng-controller="DashboardSitesController">

    <div ng-if="property.sites.length == 0" class="alert alert-warning">
        There are currently no sites configured for the dashboard.
    </div>

    <div style=" margin: 0; font-size: 26px; line-height: 40px; font-weight: normal;" ng-show="property.sites.length > 1">
        Statistik for
        <select ng-options="site.name for site in property.sites track by site.id" ng-model="site" ng-change="siteChanged()" no-dirty-check style="height: 40px; margin-left: 5px; padding: 0 5px;"></select>
    </div>

    <div style=" margin: 0; font-size: 26px; line-height: 40px; font-weight: normal;" ng-show="property.sites.length == 1">
        Statistik for
        <strong>{{property.sites[0].name}}</strong>
    </div>
    
    <div ng-show="site.blocks.length == 0" class="alert alert-info" style="margin-top: 10px;">
        <strong>Ingen statistik</strong><br />
        Der er ingen tilgængelig statistik for dette site.
    </div>

    <div class="blocks">
        <div ng-repeat="block in site.blocks">
            <dashboard-block model="block" />
        </div>
    </div>

</div>